.adminPage {

}

.leftInfoFromAdmin {
    position: fixed;
    top: 100px;
    right: 80px;
}

.userInfosFromAdmin {
    width: 100%;
    height: 102px;
    overflow-y: scroll;
    font-size: 13px;
    color: #646464;
    border: 2px solid #ddd;
}