.cover_layer {
    overflow: hidden;
    position: absolute;
    z-index: 20;
    border: 2px solid #d0d0d0;
    border-radius: 2px;
    background-color: #fff;
    margin-top: 5px;
}

.mymenu_li {
    display: block;
    overflow: hidden;
    padding: 0 20px;
    font-size: 13px;
    color: #000;
    cursor: pointer;
    margin: 0;
    position: relative;
}
.mymenu_checkbox {
    height: 32px;
    padding: 0 10px 0 8px;
    line-height: 32px;
    font-size: 12px;
    width: 124px;
    cursor: pointer;
    position: relative;
}

.mymenu_checkbox:hover {
    background-color: #f2f2f2;
    text-decoration: none;
}

.mymenu_icon {
    /*top: 9px;*/
    /*left: 8px;*/
    /*position: absolute;*/
    display: inline-block;
    float: left;
    margin: 5px 7px 0 0 !important;
    vertical-align: top;

}

.mymenu_li:hover {
    background-color: #f2f2f2;
    text-decoration: none;
}

.mymenu_li .txt_menu {
    float: left;
    height: 40px;
    line-height: 40px;
    vertical-align: top;
    cursor: pointer;
}

.mymenu_li input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}