.react-calendar {
    /*width: 480px;*/
    margin: 19px auto;
    border: 2px solid #e5e5e5 !important;
}

.react-calendar__tile--active {
    background: #ffbf00;
    color: white;
}

.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
    background: #f5b908;
}