.frame_type6 {
    width: 56px;
    height: 56px;
    background-position: 0 -115px;
    border-radius: 50%;
    cursor: pointer;
}

.storyItemProfileImg {
    width: 56px;
    height: 56px;
    background-position: 50% 50%;
    border-radius: 50%;
    background-size: cover;
    cursor: pointer;
}

.line {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: -135px -255px;
    z-index: 1;
}

.storyContentsWrap {
    position: relative;
}

.add_top {
    float: left;
    width: 500px;
    padding-left: 65px;
    margin-top: 10px;
}

.pf_name {
    font-weight: 700;
    font-size: 15px;
    color: #000;
}

.storyitem_font_style {
    font-size: 12px;
    color: #acb0b8;
}

.btn_top_group {
    position: absolute;
    right: 0;
    top: 12px;
    min-width: 45px;
}

.storyitem_icon_wrap {

}

/*===========스토리 사진============*/
.storyImgList {
    width: 100%;
    line-height: 0;
}

.storyImgList div {
    width: 248px;
    height: 248px;
    border: 1px solid #dcdcdc;
    margin: 1px 1px 1px 0;
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.storyImgBiger {
    width: 498px !important;
    height: 498px !important;
}

.storyImgBig {
    width: 331px !important;
    height: 331px !important;
}

.storyImgSide {
    width: 165px !important;
    height: 165px !important;
}

.absolute {
    position: absolute !important;
}

.bg_gr {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background: url("/images/bg_gr2.png") repeat-x 0 100%;
}

.photo_more {
    position: absolute;
    right: 12px;
    bottom: 12px;
    height: 13px;
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    color: #fff;
}

.storyImgList .ico_photo {
    float: left;
    width: 15px;
    height: 13px;
    margin-right: 4px;
    background-position: 0 -210px;
}

/*=================================*/

/*--------top icons---------*/


.btn_save {
    display: inline-block;
    vertical-align: top;
    width: 17px;
    height: 16px;
    background-position: -325px -75px;
    cursor: pointer;
}

.bn_modify {
    display: inline-block;
    width: 16px;
    height: 20px;
    background-position: -470px -44px;
    cursor: pointer;
    margin-left: 10px;
}
/* -----circle icons-----*/

.bn_feel {
    display: inline-block;
    background-position: 0 -250px;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
}

.bn_feel:hover {
    background-position: 0 -295px;
}

.bn_feel:hover + .selectFeelIcons {
    transition: .4s;
    bottom: 45px;
    visibility: visible;
}

.bn_share {
    background-position: -45px -250px;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    cursor: pointer;
}

.bn_share:hover {
    background-position: -45px -295px;
}

.bn_up {
    background-position: -90px -250px;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    cursor: pointer;
}

.bn_up:hover {
    background-position: -90px -295px;
}

.add_top .ic_lock {
    width: 10px;
    height: 13px;
    background-position: -260px -75px;
    display: inline-block;
}

.add_top .ic_friend {
    width: 15px;
    height: 13px;
    background-position: -270px -75px;
    display: inline-block;
}

.bn_morelike {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #73767c;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    background: url(/images/ico_ks.png) no-repeat -140px -955px;
    position: absolute;
    right: 0;
}

.storyItem_frame_g {
    width: 28px;
    height: 28px;
    background-position: -76px -181px;
    display: inline-block;
    border-radius: 50%;
}

.storyItem_feeling_user_img_wrap {
    position: relative;
    display: inline-block;

}

.storyItem_feeling_user_img {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 50%;
    display: inline-block;
    /*float: right;*/
}

.storyItem_feeling_user_img_wrap .bn_like {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 18px;
    height: 18px;
    background: url("/images/ico_ks2.png") no-repeat 0 0 !important;
    text-indent: -9999px;
    vertical-align: top;
    background-position: -335px -185px !important;
}

.storyItem_feeling_user_img_wrap .bn_pleasure {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 18px;
    height: 18px;
    background: url("/images/ico_ks2.png") no-repeat 0 0 !important;
    text-indent: -9999px;
    vertical-align: top;
    background-position: -375px -185px !important;
}

.storyItem_feeling_user_img_wrap .bn_sad {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 18px;
    height: 18px;
    background: url("/images/ico_ks2.png") no-repeat 0 0 !important;
    text-indent: -9999px;
    vertical-align: top;
    background-position: -395px -185px !important;
}

.storyItem_feeling_user_img_wrap .bn_cheerup {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 18px;
    height: 18px;
    background: url("/images/ico_ks2.png") no-repeat 0 0 !important;
    text-indent: -9999px;
    vertical-align: top;
    background-position: -415px -185px !important;
}

.storyItem_feeling_user_img_wrap .bn_good {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 18px;
    height: 18px;
    background: url("/images/ico_ks2.png") no-repeat 0 0 !important;
    text-indent: -9999px;
    vertical-align: top;
    background-position: -355px -185px !important;
}



.feelingUserIconWrap {
    width: 63px;
    position: absolute;
    right: 0;
}

/*------------------color circle icons ----------------------*/
.selectFeelIcons {
    visibility: hidden;
    position: absolute;
    left: 0;
    bottom: 30px;
}

.selectFeelIcons:hover {
    visibility: visible;
    bottom: 45px;
}

.selectFeelIconStyle {
    width: 45px;
    height: 45px;
    outline: 0 none;
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
}

.selectFeelIconStyle:hover {
    transform: scale(1.05);
}


/*.animate_like {*/
/*    background: url("/images/ani_emotion1.png") no-repeat 0 0;*/
/*}*/

/*.animate_pleasure {*/
/*    background: url("/images/ani_emotion2.png") no-repeat 0 0;*/
/*}*/

/*.animate_sad {*/
/*    background: url("/images/ani_emotion3.png") no-repeat 0 0;*/
/*}*/

/*.animate_cheerup {*/
/*    background: url("/images/ani_emotion4.png") no-repeat 0 0;*/
/*}*/

/*.animate_good {*/
/*    background: url("/images/ani_emotion5.png") no-repeat 0 0;*/
/*}*/

.bn_like {
    background-position: -50px -200px !important;
}

.bn_pleasure {
    background-position: -140px -200px!important;
}

.bn_sad {
    background-position: -185px -200px !important;
}

.bn_cheerup {
    background-position: -230px -200px!important;
}
.bn_good {
    background-position: -95px -200px !important;
}
/*--------------count_group----------------*/


.count_group {
    position: relative;
    z-index: 10;
    margin-bottom: -15px;
    border: 0 none;
    height: 35px;
    /*border-bottom: 1px solid #eee;*/
    font-size: 12px;
    line-height: 35px;
}

.count_group p {
    display: inline-block;
    margin-right: 8px;
    color: #73767c;
}

.count_group p span {
    font-weight: bold;
}

.storyCommentsWrap {
    padding: 0 40px 15px;
    margin: 0 -40px;
    border-top: 1px solid #f4f4f4;
    background: #fcfcfc;
    position: relative;
}

