.myHeader {
    position: fixed;
    z-index: 100;
    width: 100%;
    min-width: 768px;
    height: 64px;
    border-bottom: 1px solid #d0d0d0;
    background-color: #fff;
}

.headerLogoWrap {
    float: left;
    width: 170px;
    height: 64px;
}

.headerLogoMargin  {
    display: block;
    margin: 20px 0 0 16px;
}

.headerSearchWrap {
    float: left;
}

.searchBarWrap {
    margin-top: 16px;
}

.searchBar {
    position: relative;
    width: 180px;
    height: 30px;
    padding-left: 5px;
    border-bottom: 2px solid #d0d0d0;
    background-color: #fff;
}

.searchInput {
    width: 156px;
    height: 20px;
    padding: 5px 0;
    border: 0 none;
    font-weight: 700;
    line-height: 20px;
    background-color: #fff;
    outline: 0 none;

    font-size: 12px;
    color: #333;
}

.searchBtnWrap {
    position: absolute;
    right: -6px;
    top: 0;
    width: 30px;
    height: 30px;
    padding: 7px;
}

.searchBtn {
    position: relative;
    width: 16px;
    height: 16px;
    background-position: -320px 0;
}


.searchLayerWrap {
    /*display: block;*/
    overflow: hidden;
    left: 157px;
    top: 54px;
    width: 304px;
    position: absolute;

}


.search_list {
    max-height: 556px;
    overflow-y: scroll;
    margin: 0;
}

.txt_with {
    width: 230px;
    padding-top: 2px;
}

.info_user_sub_title {
    display: block;
    overflow: hidden;
    font-size: 11px;
    color: #999;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 230px;
    padding-top: 2px;
    margin-left: -29px;
}

.thumb_user {
    position: absolute;
    display: inline-block;
    left: 22px;
    top: 16px;
    width: 16px;
    height: 19px;
    background-position: -350px 0;
}


.ico_arrow_up {
    position: absolute;
    right: 0;
    left: 14px;
    /*right: 26px;*/
    top: -10px;
    width: 14px;
    height: 10px;
    background-position: -415px 0;
}

.btn_plus {
    position: absolute;
    right: 3px;
    top: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
}


/*=================================*/

.kakao_gnb {
    float: right;
}

.gnb_comm {
    height: 45px;
    padding: 11px 25px 0 0;
}

.gnb_comm li {
    float: left;
    position: relative;
    width: 30px;
    height: 35px;
    padding-top: 10px;
    margin-left: 7px;
}

.headerIcon {
    width: 22px;
    height: 22px;
    padding: 4px;
    cursor: pointer;
}

.ico_write {
    width: 22px;
    height: 22px;
    background-position: -165px 0;
}

.ico_newnoti {
    width: 26px;
    height: 22px;
    background-position: -190px 0;
}

.ico_storyteller {
    width: 22px;
    height: 25px;
    background-position: 0 -160px;
}

.ico_mychannel {
    width: 23px;
    height: 28px;
    background-position: -275px -210px;
    position: absolute;
    top: 6px;
}

.group_gnb {
    padding: 9px 1px 0 15px;
    margin-left: 20px;
    border-left: 2px solid #eee;
}
